VITE_API_URL=192.168.18.80:3001
VITE_LOCAL_STORAGE_KEY=IndoTeleMed@123!.
VITE_LOCAL_STORAGE_SECRET_KEY=Jakartakembalibanjir@54321abcde.
# VITE_API_URL=http://192.168.3.100/tele/api/v1/smdis-rswn
VITE_APP_ENV=staging
VITE_COMPANY_NAME=UNITY INP GENERAL MONITOR VIEWER 
